.other-user-img {
  width: 512.67px;
  height: 353px;
  -webkit-mask-image: linear-gradient(to bottom, black 75%, transparent 100%);
}

.other-user-firstName {
  color: #F8F4F1;
  font-family: "Inter";
  font-weight: 400;
  padding-left: 10px;
  padding-bottom: 5px;
}

.fa-house {
  color: #F8F4F1;
  padding-left: 12px;
}

.other-user-location {
  color: #F8F4F1;
  font-family: "Inter";
  padding-left: 5px;
  vertical-align: bottom;
}

.fa-location-dot {
  color: #F8F4F1;
  padding-left: 15px;
}

.basic-info {
  display: flex;
  padding-bottom: 2.5px;
}

.name-and-location {
  transform: translateY(-73.25px);
}

.info-button {
  background-color: #F8F4F1;
  color: #503D42;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 50%;
  width: 21px;
  height: 21px;
  transform: translate(5px, 12px);
}

.info-button:hover {
  background-color: #503D42;
  color: #F8F4F1;
}

.info-button:active {
  background-color: #F8F4F1;
  color: #503D42;
}

.left-right {
  display: flex;
  justify-content: space-between;
  transform: translateY(-118.5px);
}

.left-right-button {
  background: none;
  color: #F8F4F1;
  border: none;
  cursor: pointer;
  font-size: 24px;
  padding: 10px;
}

.left-right-button:hover {
  color: #80A479;
}

.left-right-button:active {
  color: #F8F4F1;
}
