.other-user-img {
  width: 512.67px;
  height: 353px;
  -webkit-mask-image: linear-gradient(to bottom, black 75%, transparent 100%);
  border-radius: 6px;
}

.other-user-firstName {
  color: #f8f4f1;
  font-family: "Inter";
  font-weight: 400;
  padding-left: 10px;
  padding-bottom: 5px;
}

.fa-house {
  color: #f8f4f1;
  padding-left: 12px;
}

.other-user-location {
  color: #f8f4f1;
  font-family: "Inter";
  padding-left: 5px;
  vertical-align: bottom;
}

.fa-location-dot {
  color: #f8f4f1;
  padding-left: 15px;
}

.basic-info {
  display: flex;
  padding-bottom: 2.5px;
}

.name-and-location {
  transform: translateY(-113.5px);
}

.info-button {
  background-color: #f8f4f1;
  color: #503d42;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 50%;
  width: 21px;
  height: 21px;
  transform: translate(5px, 12px);
}

.info-button:hover {
  background-color: #503d42;
  color: #f8f4f1;
}

.info-button:active {
  background-color: #f8f4f1;
  color: #503d42;
}

.left-right {
  display: flex;
  justify-content: space-between;
  transform: translateY(-118.5px);
}

.left-right-button {
  background: none;
  color: #f8f4f1;
  border: none;
  cursor: pointer;
  font-size: 24px;
  padding: 10px;
}

.left-right-button:hover {
  color: #80a479;
}

.left-right-button:active {
  color: #f8f4f1;
}

.other-user-tag {
  color: #f8f4f1;
  font-family: "Inter";
  background-color: #503d42;
  border: solid;
  border-radius: 25px;
  padding: 2px;
  margin-right: 5px;
}

.other-user-tags {
  display: flex;
  padding-left: 12px;
  padding-top: 7px;
}

.other-user-button {
  border: none;
  cursor: pointer;
  border-radius: 50%;
  width: 35px;
  height: 35px;
}

.other-user-next {
  transform: translateY(-58px);
  display: flex;
  justify-content: center;
}

.next {
  color: #f8f4f1;
  background-color: #a97575;
  font-size: 24px;
  margin-right: 10px;
}

.next:hover {
  color: #a97575;
  background-color: #f8f4f1;
}

.next:active {
  color: #f8f4f1;
  background-color: #a97575;
}

.other-user {
  height: 473px;
}

.single-profile-card {
  height: 473px;
}

.review {
  color: #f8f4f1;
  background-color: #b7c4cf;
  font-size: 20px;
}

.review:hover {
  color: #b7c4cf;
  background-color: #f8f4f1;
}

.review:active {
  color: #f8f4f1;
  background-color: #b7c4cf;
}

.like {
  color: #f8f4f1;
  background-color: #80a479;
  font-size: 20px;
  margin-left: 10px;
}

.like:hover {
  color: #80a479;
  background-color: #f8f4f1;
}

.like:active {
  color: #f8f4f1;
  background-color: #80a479;
}

.no-pic {
  color: #f8f4f1;
  font-family: "Inter";
  font-size: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-pic-first-name {
  transform: translateY(-66px);
}

#infoDiv {
  display: none;
  overflow-x: hidden;
  overflow-y: auto;
  width: 497.5px;
  height: 110px;
  background-color: black;
  transform: translateY(-44px);
  color: #f8f4f1;
  padding: 15px;
  border-radius: 6px;
}
