.sidebar {
  height: 100vh;
  max-width: 40%;
  float: left;
  background-color: #80a479;
}

.picture-view {
  height: 100vh;
  width: auto;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://images.pexels.com/photos/616360/pexels-photo-616360.jpeg");
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-navbar-container {
  padding: 30px;
  background: linear-gradient(90deg, #503d42 0%, #80a479 100%);
  display: flex;
  justify-content: space-between;
  padding-bottom: 17px;
}

.profile-picture-container {
  height: 100vh;
  /* width: auto; */
  padding: 30px;
  margin: 30px;
  background-color: red;
  border: 1px solid black;
}

.match-img {
  border-radius: 10%;
  min-width: 200px;
  max-width: 200px;
  min-height: 200px;
  max-height: 200px;
}

.matched-users-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px;
}
.matches {
  height: auto;
  display: flex;
  background-color: #80a479;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
  scrollbar-color: #2d2820 #80a479;
}
.match-container {
  display: block;
  max-height: 89vh;
  /* overflow-y: auto; */
}
.match-message-navbar {
  display: flex;
  justify-content: center;
}
.match-button {
  font-size: 20px;
  font-weight: bold;
  color: #2d2820;
  cursor: pointer;
  padding: 10px;
  margin: 2px;
  /* border: none; */
  border-bottom: solid 3px #2d2820;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: #80a479;
  border-radius: 5%;
  /* text-decoration: underline; */
}
.message-button {
  font-size: 20px;
  font-weight: bold;
  color: #2d2820;
  cursor: pointer;
  padding: 10px;
  border: none;
  /* border-bottom: solid 3px #2d2820;
  border-top: none;
  border-left: none;
  border-right: none; */
  margin: 2px;
  background-color: #80a479;
  border-radius: 5%;
  /* text-decoration: underline; */
}
.message-button:hover {
  color: rgb(192, 36, 36);
  border-bottom: solid 3px #2d2820;
  border-top: none;
  border-left: none;
  border-right: none;
}
.match-button:hover {
  color: rgb(192, 36, 36);
  /* border-bottom: solid 3px #2d2820;
  border-top: none;
  border-left: none;
  border-right: none; */
}
.match-remove-button {
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  margin-top: 10px;
  border: none;
  border-radius: 5%;
  background-color: #80a479;
  border-bottom: solid 3px #2d2820;
  border-top: none;
  border-left: none;
  border-right: none;
}
.match-remove-button:hover {
  color: rgb(192, 36, 36);
}
.padding {
  margin: 20px;
}

.box {
  width: 40%;
  background-color: black;
  height: 50%;
  border-radius: 6px;
}

.btn {
  font-size: 16px;
  cursor: pointer;
  background-color: #d7c0ae;
  color: #503d42;
  border: none;
  border-radius: 50%;
  width: 55px;
  height: 55px;
}

.btn:hover {
  background-color: #503d42;
  color: #d7c0ae;
}

.btn:active {
  background-color: #d7c0ae;
  color: #503d42;
}

.upload-photo {
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.profile {
  display: flex;
}

.first-name {
  font-family: "Inter";
  font-size: 24px;
  padding-top: 13px;
  padding-left: 17px;
  color: #f8f4f1;
}

.view-all-photos {
  padding-bottom: 0px;
}

.fa-images {
  padding-top: 19px;
}

.padding-right {
  padding-right: 17px;
}

.matched-profile-button {
  margin-top: 10px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 5%;
  background-color: #80a479;
  border-bottom: solid 2px #2d2820;
  border-top: none;
  border-left: none;
  border-right: none;
}
.matched-profile-button:hover {
  color: rgb(192, 36, 36);
}
