.section {
  height: 50vh;
}
.signup-page {
}
.signup-page {
  width: auto;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: blue;
}
.signup-container {
}
